@model IEnumerable<Image>

@{
    ViewData["Title"] = "Dashboard";
}

@{
    int? uid = Context.Session.GetInt32("UserId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>




<body>
    <h1>Welcome @ViewBag.user.FirstName</h1>

    
        @foreach (var img in Model)
        { 
         bool alreadyLiked = img.ImageUserLikes.Any(l => l.UserId == uid);
         
        <div class="wrapper card" >
        <img  class="card-img-top mainImage" width="400" height="400" src= "~/Images/@img.ImageName" />


        <div class="footer card-body">
        @if (@img.Comment != null)
        {
        <p class="comment">Comments:<br> @img.Comment</p>
        }

        <form asp-controller="ImageUploads" asp-action="AddImageToAlbum" asp-route-imageId="@img.ImageId" method="POST">
            <select name="albumId">
            @foreach (var albums in ViewBag.AllAlbums)
            {
            <option value="@albums.AlbumId">@albums.AlbumName</option>
            }
            </select>
            <button class="btn btn-primary" type="submit">Add to Album!</button>
        </form>
        <div class="like">

        <form  id= "heart" asp-controller="ImageUploads" asp-action="Like" asp-route-imageId="@img.ImageId" method="post">
            <button class="btn btn-link">
            @if (alreadyLiked)
            {
            <i class="bi bi-suit-heart-fill"></i>               }
            else
            {
            <i class="bi bi-suit-heart"></i> 
            }
            </button>
        </form>
             <p id="heartAlign">@img.ImageUserLikes.Count Likes</p>
        </div>


        <div class="alignDelete">             
             <small class="text-muted">Submitted by: @img.Uploader.FullName() at @img.CreatedAt</small> 

            @if (img.UserId == uid)
            {
            <form asp-controller="ImageUploads" asp-action="DeleteImage" asp-route-imageId="@img.ImageId"method="POST">
            <button id="trashCan"><i class="bi bi-trash"></i></button>
            </form>
            }
       

        </div> 
           
        </div>
   </div>

    } @* ----> end tag for each table *@

</body>

</html>
